#about {
	margin: auto;
	width: 80%;
	padding: 20px 0;
	border-bottom: 3px white solid;
	border-top: 3px white solid;
	text-align: center;
	font-weight: 300;
	font-size: larger;
}

.aboutList {
	display: flex;
	justify-content: center;
	font-size: 1.2em;
}

.aboutList li {
	margin: 20px;
	/* padding: 5px; */
}

.about-content {
	display: flex;
	text-align: left;
}

.about-content img {
	width: 40%;
	margin: auto;
}


@media (max-width: 800px) {
	.about-content {
		flex-direction: column;
		text-align: center;
	}
}