.footer {
	/* position: fixed; */
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 350px;
	border-top: 5px solid white;
	background-color: #222157;

	padding-top: 50px;

	background-image: url('../../images/coding-banner.webp');
	background-attachment: fixed;
	background-position: center left;
	background-repeat: no-repeat;
	background-size: cover;

	filter: blur(4px);
}

.wrapper {
	display: grid;
	grid-template-columns: 50% 50%;

	width: 80%;
	margin: auto;
}