.block {
	margin: auto;
	padding: 1%;
	padding-bottom: 2%;
	background-color: #222157;
	overflow: hidden;
	text-align: center;
}

.title {
	font-size: 2em;
	border-bottom: #222157 solid 1px;
}

.subtitle h3 {
	font-size: 1.4em;
	font-weight: 100;
}

.subtitle p {
	font-size: 1.2em;
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: row;
	grid-gap: 10px;
	align-content: stretch;
}

.gridItem {
	position: relative;
}

.gridItem:not(:nth-child(4n+2)):not(:nth-child(4n+3)) {
	grid-column: span 2;
}

/* .gridItemReverse:not(:nth-child(4n + 1)):not(:nth-child(4n + 4)) {
	grid-column: span 2;
} */


@media (max-width: 700px) {
	.container {
		display: block;
		margin: auto;
	}

	.gridItem,
	.boxitem {
		margin-bottom: 10px;
	}
}

@media (max-width: 1370px) {
	.container {
		grid-row-gap: 10px;
	}

	.gridItem:not(:nth-child(4n+2)):not(:nth-child(4n+3)) {
		grid-column: span 2;
	}

	/* .gridItemReverse:not(:nth-child(4n + 1)):not(:nth-child(4n + 4)) {
		grid-column: span 1;
	} */

}