.block {
	margin: auto;
	padding: 2%;
	background-color: #222157;
	overflow: hidden;
	text-align: center;
}


.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: row;
	grid-gap: 10px;
	align-content: stretch;
}

.gridItem {
	position: relative;
}

.gridItem:not(:nth-child(4n+2)):not(:nth-child(4n+3)) {
	grid-column: span 2;
}

/* .gridItemReverse:not(:nth-child(4n + 1)):not(:nth-child(4n + 4)) {
	grid-column: span 2;
} */


@media (max-width: 700px) {
	.container {
		display: block;
		margin: auto;
	}
	.gridItem {
		margin-bottom: 10px;
	}
}

@media (max-width: 1370px) {
	.container {
		/* grid-template-columns: fr; */
		grid-row-gap: 10px;
		/* padding: 5% */
	}
	.gridItem:not(:nth-child(4n+2)):not(:nth-child(4n+3)) {
		grid-column: span 2;
	}
	
	.gridItemReverse:not(:nth-child(4n + 1)):not(:nth-child(4n + 4)) {
		grid-column: span 1;
	}
	
} 