.card {
	background: orange;
	overflow: hidden;

	color: #222;

	transition: .15s ease-in-out;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	user-select: none;

}



/* .card p {
	font-size: 18px;
	font-weight: 400;
	width: 80%;
	margin: auto;
} */